<ion-view title="ASV" id="page1">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-delete" ng-click="deleteAllMessages()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="asv-list">
      <ion-item id="asv-list-item" ng-repeat="message in model.messages">
        <h2 ng-bind="message.title" class="message-title"></h2>
        <p ng-bind="message.text"></p>
        <p ng-bind="message.sent_date.toDateString()"></p>
        <ion-option-button class="button-assertive" ng-click="deleteMsg(message.deviceMessages[0])">delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>